#menu {
	width: 100% !important;
	background-image: -webkit-linear-gradient(top, #a9a9a9 0%, #cccccc 100%);
	background-image: -moz-linear-gradient(top, #a9a9a9 0%, #cccccc 100%);
	background-image: -ms-linear-gradient(top, #a9a9a9 0%, #cccccc 100%);
	background-image: -o-linear-gradient(top, #a9a9a9 0%, #cccccc 100%);
	background-image: linear-gradient(to top, #a9a9a9 0%, #cccccc 100%);
	height: 36px !important;
	border-radius: 0;
	border-style: none none solid;
	margin-bottom: 0px;
}

.ui-menuitem-text {
	font-size: 15px;
	font-weight: bold;
}